
run = "python run.py run"
modules = ["python-3.12"]

[deployment]
build = ["sh", "-c", "python run.py install"]
run = ["sh", "-c", "python run.py run"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8000
externalPort = 80
